*.log
datasets/
OurCogDL/
checkpoints/
.old_logs/
embeddings/
*.pt
*.pth
*.ckpt
*.npy
*.npz
*.csv
*.log
*.csv
*.pkl
*.json
*.pdf
*.png
*.out
*.pyc
*.svg
*.txt
dir_datasets/
ori_datasets/
undir_datasets/